.navbar-brand {
    font-size: 50px;
}

.card {
    background-color: #48b4f3;
}

.low {
    border-radius: 25px;
    background-color: rgb(86, 173, 86);
    padding: 3px;
    width: 150px;
    height: 100px;
}

.med {
    border-radius: 25px;
    background-color: rgb(255, 255, 0);
    padding: 3px;
    width: 150px;
    height: 100px;
}

.med-high {
    border-radius: 25px;
    background-color: rgb(247, 194, 96);
    padding: 3px;
    width: 150px;
    height: 100px;
}

.high {
    border-radius: 25px;
    background-color: rgb(255, 96, 96);
    padding: 3px;
    width: 150px;
    height: 100px;
}